/* static/portfolio/css/swiper.css */

.certificate-swiper {
    padding: 20px 0 60px 0;
}

.swiper-slide {
    /* Леко прозрачни неактивните */
    opacity: 0.4;
    transform: scale(0.9);
    transition: all 0.4s ease;
}

.swiper-slide-active {
    /* Активният е ярък и голям */
    opacity: 1;
    transform: scale(1.05);
    z-index: 10;
}

/* Точките долу */
.swiper-pagination-bullet {
    background: #94a3b8 !important;
}
.swiper-pagination-bullet-active {
    background: #38bdf8 !important;
    width: 24px;
    border-radius: 4px;
}